* {
  padding: 0;
  margin: 0;
}

html,
body {
  box-sizing: border-box;
  background-color: #666;
  font-family: sans-serif;
  color: gainsboro;
}

.container {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 100px auto;
  justify-items: center;
}

header {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #222;
  box-shadow: 5px 5px 5px 0px rbga(0, 0, 0, 0.7);
}

h1 {
  text-shadow: 3px 2px 6px black;
  font-size: 4em;
  margin-right: 50px;
  margin-left: 30px;
}

.newBookButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  width: 275px;
  height: 60px;
  border: 2px solid gainsboro;
  cursor: pointer;
  font-weight: bold;
  font-size: 2em;
  text-shadow: 2px 1px 5px black;
  box-shadow: 2px 1px 6px black;
  background-color: #007000;
}

.newBookButton:hover {
  background-color: #008000;
}

.library {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: auto;
  width: 100%;
}

.bookCard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-evenly;
  background-color: #444;
  border: 2px solid gainsboro;
  padding: 20px;
  margin: 35px;
  width: 350px;
  font-size: 1.5em;
  text-shadow: 2px 1px 5px black;
  box-shadow: 2px 1px 6px black;
}

ul {
  list-style-type: none;
  line-height: 65px;
}

li {
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  padding-top: 15px;
  justify-content: space-between;
  text-shadow: 2px 1px 5px black;
  width: 100%;
}

.newBookButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupContainer {
  position: relative;
  text-align: center;
  width: 100%;
  box-shadow: 2px 1px 6px black;
}

.newBookPopup {
  display: none;
  position: fixed;
  left: 30%;
  top: 20%;
  border: 2px solid gainsboro;
  z-index: 9;
  color: gainsboro;
  box-shadow: 2px 1px 6px black;
}

.newBookForm {
  width: 480px;
  padding: 20px;
  background-color: #444;
  font-size: 2em;
  text-shadow: 2px 1px 5px black;
}

input[type=text],
input[type=number] {
  border: 1px solid gainsboro;
  height: 60px;
  padding: 20px;
  margin-top: 30px;
  outline: none;
  width: 400px;
  box-sizing: border-box;
  font-size: 0.75em;
  background-color: gainsboro;
  box-shadow: 2px 1px 6px black;
}

button,
.button,
input[type=submit] {
  background-color: #333;
  width: 150px;
  height: 50px;
  color: gainsboro;
  border: 2px solid gainsboro;
  outline: none;
  font-weight: bold;
  font-size: 0.75em;
  box-shadow: 2px 1px 6px black;
}

.button:hover {
  background-color: #888;
  text-shadow: 2px 1px 5px black;
}

.remove:hover,
.cancel:hover {
  background-color:rgb(133, 28, 28);
  text-shadow: 2px 1px 5px black;
}

.remove {
  text-shadow: 2px 1px 5px black;
  box-shadow: 2px 1px 6px black;
}

.haveRead {
  background-color: #007000;
  text-shadow: 2px 1px 5px black;
  box-shadow: 2px 1px 6px black;
}

.haveRead:hover {
  background-color: #008000;
  text-shadow: 2px 1px 5px black;
}

.notRead:hover {
  background-color: #888;
  text-shadow: 2px 1px 5px black;
}

.attributes {
  margin-bottom: 30px;
}

.title {
  text-decoration: underline;
}

.author {
  font-style: italic;
}