* {
  padding: 0;
  margin: 0;
}

html,
body {
  box-sizing: border-box;
  background-color: #888;
  font-family: sans-serif;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 300px auto;
  justify-items: center;
}

header {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 80%;
  border: 2px solid white;
}

.library {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  flex-direction: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  height: auto;
  border: 2px solid white;
  width: 80%;
}

.bookCard {
  display: flex;
  flex-direction: column;
  background-color: #666;
  border: 1px solid white;
  padding: 30px;
  margin: 50px;
  min-width: 300px;
  min-height: 400px;
  font-size: 1.5em;
}

ul {
  list-style-type: none;
  line-height: 65px;
}

.buttons {
  display: flex;
  padding-top: 15px;
  justify-content: space-evenly;
}

.newBookButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newBookButton {
  border: 1px solid white;
  background-color: #444;
  color: white;
  padding: 14px 20px;
  cursor: pointer;
  height: 75px;
  width: 300px;
  font-size: 2em;
}

.newBookButton:hover {
  background-color: #666;
}

.popupContainer {
  position: relative;
  text-align: center;
  width: 100%;
}

.newBookPopup {
  display: none;
  position: fixed;
  left: 46%;
  top: 30%;
  border: 2px solid white;
  z-index: 9;
}

.newBookForm {
  max-width: 500px;
  padding: 20px;
  background-color: #777;
  font-size: 2em;
}

input[type=text] {
  height: 40px;
  padding: 10px;
  outline: none;
  width: 400px;
  box-sizing: border-box;
}